.layer {
	position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    overflow:hidden;
}



#main-box{
    background: linear-gradient(#1e1e30, #742d56, #ff6b6b);
    height: 755px;
    width:1515px;
    overflow:hidden;
    z-index: 0;
}

#outer-box{
    overflow: hidden;
}

#l1{
    z-index:20;
}

#l2{
    z-index: 18;
}

#l3{
        z-index: 14;
}

#l4{
    z-index: 12;
}

.cloud {
	border: 1px transparent;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
    display: block;
    height: 40px;
    width:65px;
	position: absolute;
    background: #b0baba;
    opacity: 0.2;
}
.skyscrape{
    display:block;
    position: absolute;
    height: 300px;
    width: 100px;
    background: #1a1a1a;
    border: 1px transparent;
	-webkit-box-shadow: -1px -1px 11px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px -1px 11px 1px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 11px 1px rgba(0,0,0,0.75);
    overflow:hidden;
    margin:0;
    padding:0;

}

.rnd{
    border-radius:10px;
}

.hide{
    display: none;
}

.cloud:nth-child(1){
    width:190px;
    left: 30%;
    top: 8%;
}
.cloud:nth-child(2){
    width: 140px;
    left: 51%;
    top: 15%;
}
.cloud:nth-child(3){
    width: 120px;
    left: 30%;
    top: 18%;
}
.cloud:nth-child(4){
    width: 140px;
    left: 60%;
    top: 18%;
}
.cloud:nth-child(5){
    width: 140px;
    left: 70%;
    top: 10%;
}


#l3 .skyscrape:nth-child(1){
    left:80%;
    top:60%;
}

#l3 .skyscrape:nth-child(2){
    left:51%;
    top:60%;
}

#l3 .skyscrape:nth-child(3){
    left:70%;
    top:60%;
}

#l3 .skyscrape:nth-child(4){

    left:59%;
    top:60%;
}

#l3 .skyscrape:nth-child(5){
    height: 200px;
    left:33%;
    top:80%;
}

#l3 .skyscrape:nth-child(6){
    height: 330px;
    left:75%;
    top:70%;
}

 #l3 .skyscrape:nth-child(7){
    height: 285px;
    left:20%;
    top:70%;
}

#l2 .skyscrape:nth-child(1){
    height: 150px;
    left:29%;
    top: 90%;
}

#l2 .skyscrape:nth-child(2){
    height: 100px;
    left:41%;
    top: 90%;
}

 #l2 .skyscrape:nth-child(3){
    height: 450px;
    left:91%;
    top: 45%;
}

 #l2 .skyscrape:nth-child(4){
    height: 450px;
    left:86%;
    top: 55%;
}

#l2 .skyscrape:nth-child(5){
    height: 450px;
    left:65%;
    top: 75%;
}

 #l2 .skyscrape:nth-child(6){
    height: 450px;
    left:48%;
    top: 80%;
}

#l2 .skyscrape:nth-child(7){
    height: 450px;
    left:55%;
    top: 78%;
}

#l2 .skyscrape:nth-child(8){
    height: 450px;
    left:37%;
    top: 78%;
}

#l2 .skyscrape:nth-child(9){
    height: 250px;
    left:22%;
    top: 80%;
}



#l4 .skyscrape:nth-child(1){
    height: 600px;
    left:60%;
    top:30%;
}

#l4 .skyscrape:nth-child(2){
    height: 700px;
    left:87%;
    top:20%;
}

#l4 .skyscrape:nth-child(3){
    height: 700px;
    left:78%;
    top:25%;
}
#l4 .skyscrape:nth-child(4){
    height: 700px;
    width: 110px;
    left:65%;
    top:40%;
}


.window-light{
    display:block;
    width: 15%;
    height: 15px;
    margin: 15px 7px 8px 7px;
    background: #f7ff8d;
    position:relative;
    float: left;
    -webkit-box-shadow: 0px 0px 18px 5px rgba(236, 236, 133, 0.75);
	-moz-box-shadow: 0px 0px 18px 5px rgba(236, 236, 133, 0.75);
	box-shadow: 0px 0px 18px 5px rgba(236, 236, 133, 0.75);

}

.w-dark{
    background: #121218;
    -webkit-box-shadow: 0px 0px 18px 5px rgba(14, 15, 26, 0.75);
	-moz-box-shadow: 0px 0px 18px 5px  rgba(14, 15, 26, 0.75);
	box-shadow: 0px 0px 18px 5px  rgba(14, 15, 26, 0.75);
}

.w-penthouse-1{
    animation: partylights 1.3s ease infinite;
}

.w-partyhouse{
    animation: discolights 5s ease infinite;
}

@keyframes partylights {
    0%{
        background: #05ec5e;
        -webkit-box-shadow: 0px 0px 18px 5px rgba(7, 243, 85, 0.75);
        -moz-box-shadow: 0px 0px 18px 5px  rgba(7, 243, 85, 0.75);
        box-shadow: 0px 0px 18px 5px  rgba(7, 243, 85, 0.75);
    }
    50%{
        background: #14b8ce;
        -webkit-box-shadow: 0px 0px 18px 5px rgba(0, 238, 255, 0.75);
        -moz-box-shadow: 0px 0px 18px 5px  rgba(0, 238, 255, 0.75);
        box-shadow: 0px 0px 18px 5px  rgba(0, 238, 255, 0.75);
    }
    100%{
        background: #df13c3;
        -webkit-box-shadow: 0px 0px 18px 5px rgba(255, 0, 98, 0.75);
        -moz-box-shadow: 0px 0px 18px 5px  rgba(255, 0, 98, 0.75);
        box-shadow: 0px 0px 18px 5px  rgba(255, 0, 98, 0.75);
    }
}

@keyframes discolights {
    0%{
        background: #01ff66;
        -webkit-box-shadow: 0px 0px 18px 5px rgba(30, 255, 0, 0.75);
        -moz-box-shadow: 0px 0px 18px 5px  rgba(30, 255, 0, 0.75);
        box-shadow: 0px 0px 18px 5px  rgba(30, 255, 0, 0.75);
    }
    25%{
        background: #2900e2;
        -webkit-box-shadow: 0px 0px 18px 5px rgba(140, 0, 255, 0.75);
        -moz-box-shadow: 0px 0px 18px 5px  rgba(140, 0, 255, 0.75);
        box-shadow: 0px 0px 18px 5px  rgba(140, 0, 255, 0.75);
    }
    50%{
        background: #ff0000;
        -webkit-box-shadow: 0px 0px 18px 5px rgba(255, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 18px 5px  rgba(255, 0, 0, 0.75);
        box-shadow: 0px 0px 18px 5px  rgba(255, 0, 0, 0.75);
    }
    75%{
        background: #00fdb1;
        -webkit-box-shadow: 0px 0px 18px 5px rgba(0, 255, 234, 0.75);
        -moz-box-shadow: 0px 0px 18px 5px  rgba(0, 255, 234, 0.75);
        box-shadow: 0px 0px 18px 5px  rgba(0, 255, 234, 0.75);
    }
    100%{
        background: #8b09e2;
        -webkit-box-shadow: 0px 0px 18px 5px rgba(255, 0, 212, 0.75);
        -moz-box-shadow: 0px 0px 18px 5px  rgba(255, 0, 212, 0.75);
        box-shadow: 0px 0px 18px 5px  rgba(255, 0, 212, 0.75);
    }
}